/**
    font-family: 'Courgette', cursive;
    font-family: 'Oswald', sans-serif;

* #FFFFFF white
 #000000 black
*/


nav a {
    color: #FFFFFF;
    font-family: 'Courgette', cursive;
}

header {
    font-family: 'Courgette', cursive;
    color: #FFFFFF;
    text-align: center;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000085;
    opacity: 0.8;
    height: 100%;
}

.title h3 {
    text-align: center;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}

.articles {
    margin: 15px;
}

.articles img {
    width: 100%;
}

p {
    color: #000000;
    font-family: 'Oswald', sans-serif;
}

h3, form label {
    font-family: 'Courgette', cursive;
    color: #000000;
}

.row a {
    color: #000000;
} 

footer {
    padding-top: 25px;
    padding-left: 15px;
    background-color: #000000;
}

footer h3 {
    color: #FFFFFF;
    font-family: 'Courgette', cursive;
}

footer a {
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
}

footer form {
    margin-bottom: 20px;
}

footer form label {
    color: #FFFFFF;
    font-family: 'Courgette', cursive;
}

ul {
    list-style: none;
   
}