.team {
    position: relative;
    background-image: url(../img/team/team.jpg);
    padding-bottom: 50px;
}

header h1 {
    margin-top: 25px;
}

.content-team-member img {
    border-radius: 100%;
    width: 230px;
    float: left;
    margin-right: 15px;
}

.aside h6 {
    font-family: 'Courgette', cursive;
}

p {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 35px;
}